@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  
}

.min-h-screen { min-height: 100vh; }
/* .table-container {
  width: 500px; /* Adjust the width as needed */
  .table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  /* .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 10;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }   */
  /* .fade-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  } */
  
  .fade-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 10;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
 
  .heart-icon {
    position: relative;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-hearts {
    animation: heartbeat 1s infinite;
  }
  
  .animate-heart {
    position: absolute;
    top: 0;
    left: 0;
    animation: heartbeat 1s infinite;
  }
  
  
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
